<ion-content class="registro-page">
  <div class="container">
    <div class="card">

      <h2>MAPTOURY</h2>
      <p>Desbloquea un mundo de aventuras.</p>

      <!-- Correo -->
      <ion-input
        label="Correo electrónico"
        labelPlacement="stacked"
        placeholder="ejemplo@email.com"
        fill="outline"
        type="email"
        [(ngModel)]="email"
        name="email"
        required>
      </ion-input>

      <!-- Contraseña -->
      <ion-input
        label="Contraseña"
        labelPlacement="stacked"
        placeholder="Tu contraseña"
        fill="outline"
        type="password"
        [clearInput]="true"
        [(ngModel)]="password"
        name="password"
        required>
      </ion-input>

      <!-- Botón con estado de carga -->
      <ion-button 
        expand="block" 
        shape="round" 
        class="boton" 
        (click)="iniciarAventura()"
        [disabled]="loading"
      >
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        <span *ngIf="!loading">Iniciar mi aventura</span>
      </ion-button>

      <!-- Botón para ir al registro -->
      <ion-button
        fill="clear"
        expand="block"
        color="medium"
        (click)="goToRegister()"
      >
        ¿No tienes cuenta? Regístrate aquí
      </ion-button>

    </div>

    <div class="footer">
      <small>🌍 Descubre. Sueña. Viaja.</small>
    </div>
  </div>
</ion-content>
